# Folders #
.idea/*
.cloud/*
.storage/auth*
.storage/cloud*
.storage/core*
.storage/onboarding*
deps/*
tts/*

# Files #
.HA_VERSION
.uuid
home-assistant.log
*.db*
known_devices.yaml
plex.conf
secrets.yaml